/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
   background-image: url("../resources_website/sayagata white.png");
}

/*
 FILTER BUTTONS
*/

.filters {
  width: 95%;
  margin: auto;
}

.filters .title {
  font-size: 25px;
  font-weight: 700;
}

.filters .option {
  display: inline-block;
  height: 60px;
  width: 32%;
  margin: 5px;
}

.filters .block {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.filters .block:hover {
  filter: opacity(60%);
}

.filters .block i {
  display: inline-block;
  float: left;
}

/*
 END FILTER BUTTONS
*/


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.card-height {
  height: 180px;
}

.card .block {
  padding-top: 3px !important;
}

.large-text {
  font-size: 25px;
}

.justify {
  text-align: justify;
}

.center {
  width: 100%;
  margin: auto;
}

.bold {
  font-weight: bold !important;
}

.bolder {
  font-weight: 700 !important;
}

.round-corner {
  border-radius: 10px;
}

.highlight:hover {
  background-color: white;
  filter: opacity(60%);
}
