/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

body {
    background-image: url("../resources_website/sayagata white.png");
}


/*
 * MAIN PALETTE
 */

 /* BACK */
 .style-color-purple {
   background-color: #7100D3 !important
 }

 .style-color-purple.lightest {
   background-color: #951EFC !important
 }

 .style-color-purple.lighter {
   background-color: #8C07FF !important
 }

 .style-color-purple.darker {
   background-color: #5600A0 !important
 }

 .style-color-purple.darkest {
   background-color: #44007E !important
 }


 .style-color-red {
   background-color: #E02218 !important
 }

 .style-color-red.lightest {
   background-color: #FFBFBB !important
 }

 .style-color-red.lighter {
   background-color: #F86760 !important
 }

 .style-color-red.darker {
   background-color: #A00800 !important
 }

 .style-color-red.darkest {
   background-color: #570400 !important
 }


 .style-color-blue {
   background-color: #1F51CF !important
 }

 .style-color-blue.lightest {
   background-color: #698ADE !important
 }

 .style-color-blue.lighter {
   background-color: #436DD5 !important
 }

 .style-color-blue.darker {
   background-color: #0C3CB3 !important
 }

 .style-color-blue.darkest {
   background-color: #092D87 !important
 }

/* TEXT */
.style-color-text-purple {
  color: #7100D3 !important
}

.style-color-text-purple.lightest-text {
  color: #951EFC !important
}

.style-color-text-purple.lighter-text {
  color: #8C07FF !important
}

.style-color-text-purple.darker-text {
  color: #5600A0 !important
}

.style-color-text-purple.darkest-text {
  color: #44007E !important
}


.style-color-text-red {
  color: #E02218 !important
}

.style-color-text-red.lightest-text {
  color: #FFBFBB !important
}

.style-color-text-red.lighter-text{
  color: #F86760 !important
}

.style-color-text-red.darker-text {
  color: #A00800 !important
}

.style-color-text-red.darkest-text{
  color: #570400 !important
}


.style-color-text-blue {
  color: #1F51CF !important
}

.style-color-text-blue.lightest-text {
  color: #698ADE !important
}

.style-color-text-blue.lighter-text {
  color: #436DD5 !important
}

.style-color-text-blue.darker-text {
  color: #0C3CB3 !important
}

.style-color-text-blue.darkest-text {
  color: #092D87 !important
}
