
.exercise {
  display: block;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
}

.exercise.hard {
  background-color: #f44336;
}


.exercise.easy {
  background-color: #4caf50;
}


.exercise.medium {
  background-color: #ff9800;
}

.code {
  background-color: white;
  font-family: 'RobotoMono';
  text-align: left;
  padding: 5px;
  font-size: 0.9rem;
}
