
/*
 *  ALIGNMENTS
 */
.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center {
  text-align: center;
}

.center-align {
  float: center !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-align {
  vertical-align: top;
}

.mid-align {
  vertical-align: middle;
}
