

/*
 *  BLOCKS
 */
.block {
 display:inline-block;
 vertical-align: top;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
 left: auto;
 right: auto;
}

.block.percent10 {
 width: 9.5%;
}

.block.percent20 {
 width: 19.5%;
}

.block.percent30 {
 width: 29.5%;
}

.block.percent40 {
 width: 39.5%;
}

.block.percent50 {
 width: 49.5%;
}

.block.percent60 {
 width: 59.5%;
}

.block.percent70 {
 width: 69.5%;
}

.block.percent80 {
 width: 79.5%;
}

.block.percent90 {
 width: 89.5%;
}

.block.percent100 {
 width: 100%;
}

.block.sub1 {
 width: 100%;
}

.block.sub2 {
 width: 49.5%;
}

.block.sub3 {
 width: 33%;
}

.block.sub4 {
 width: 24%;
}

.block.sub5 {
 width: 20%;
}

.block.sub6 {
 width: 16.6666666666%;
}

.block.sub7 {
 width: 14.25%;
}

.block.sub8 {
 width: 12.5%;
}

.block.sub9 {
 width: 11.1111111111%;
}

.block.sub10 {
 width: 10%;
}
