
/*
 *  MATERIAL ICONS
 */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

i {
  line-height: inherit;
}

i.left {
  float: left;
  margin-right: 15px;
}

i.right {
  float: right;
  margin-left: 15px;
}

i.tiny {
  font-size: 1rem;
}

i.small {
  font-size: 2rem;
}

i.medium {
  font-size: 4rem;
}

i.large {
  font-size: 6rem;
}
